@font-face { font-family: "icomoon"; src: url(../fonts/icomoon.ttf); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: "Poppins"; src: url(../fonts/Poppins-Regular.ttf); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: "Poppins"; src: url(../fonts/Poppins-Bold.ttf); font-weight: 700; font-style: normal; font-display: swap; }

*, *::after, *::before { box-sizing: border-box; }

a { color: #333645; text-decoration: none; }

header { display: block; }

body { font-family: 'Poppins', sans-serif; font-size: 1rem; letter-spacing: 0.4px; margin: 0 auto; height: 100%; }

footer { background-color: #323544; color: #fff; margin: 10px 0 0; position: relative; display: block; }

footer ul { list-style: none; padding: 0; margin: 0; }

footer ul li { font-size: 0.8125rem; line-height: 1.375rem; }

footer ul li a { color: #fff; }

footer ul li a:hover { color: #fff; }

.tick-text { line-height: 32px; font-weight: 600; display: table-cell; }

.newsletter { background-color: #ddd; }

.newsletter .newsletter-wrapper { display: flex; flex-wrap: wrap; margin: 0 -15px; }

.newsletter .newsletter-input { flex: 1 1 450px; padding: 0 15px; }

.newsletter .newsletter-submit { color: #fff; background-color: #333645; border: 0; }

.newsletter #newsletter-email, .newsletter #newsletter-name { width: 100%; }

.form-group { margin-bottom: 15px; }

.checkbox .button { border-radius: 3px; border: 3px solid #333645; height: 32px; width: 32px; position: relative; float: left; margin-right: 20px; }

.checkbox .button [type=checkbox] { display: none; }

.form-input { height: 47px; padding: 5px 15px; border: 1px solid #e5e5e5; border-radius: 2px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); display: block; font-size: 14px; line-height: 1.42857143; color: #555; }

.footer-bottom { margin: 20px 0 0; background: #212330; }

label.required::after, label .required::after { content: " *"; color: #d24d57; }

.article-list, .services { display: flex; flex-flow: column wrap; align-content: center; justify-content: center; flex-wrap: wrap; flex-direction: column; }

.article-list img, .services img { object-fit: cover; max-width: 100%; }

.article-item, .service-item { border: 1px solid #ccc; margin-top: 1.825rem; }

.service-item > div { display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center; }

.service-item .software > span.icon { background-color: #67809f; }

.service-item .display > span.icon { background-color: #4183d7; }

.service-item .digital > span.icon { background-color: #2ecc71; }

.service-item .telecoms > span.icon { background-color: #d64541; }

.service-item .web > span.icon { background-color: #926fb1; }

.service-item .security > span.icon { background-color: #f62459; }

.service-item .developer-course > span.icon { background-color: #ce4125; }

.service-item { padding: 30px; display: flex; flex-direction: column; align-items: center; text-align: center; border-radius: 15px; }

.service-item .icon { display: block; border-radius: 50%; height: 65px; width: 65px; margin: 0 auto 17px; }

.service-item .icon span { font-size: 2rem; line-height: 62px; }

.service-item .icon-apps::before { content: "\e957"; color: white; }

.service-item .icon-display::before { content: "\e956"; color: white; }

.service-item .icon-bar-graph::before { content: "\e901"; color: white; }

.service-item .icon-phone-service::before { content: "\e900"; color: white; }

.service-item .icon-code::before { content: "\ea80"; color: white; }

.service-item .icon-security::before { content: "\e903"; color: white; }

.service-item .icon-school-cap::before { content: "\e902"; color: white; }

.service-item .h2 { font-size: 1.3rem; position: relative; padding-bottom: 10px; margin: 0 0 11px; }

.service-item .p { font-size: 0.8125rem; line-height: 1.375rem; margin-bottom: 13px; padding: 0 15px 10px 15px; font-weight: 400; }

.service-item .btn-container { display: block; }

.service-item .btn { align-items: flex-end; background-color: orange; color: white; display: inline-block; margin-bottom: 20px; }

.service-item .btn-software { background: #67809f; }

.service-item .btn-it { background-color: #4183d7; }

.service-item .btn-digital { background-color: #2ecc71; }

.service-item .btn-telecoms { background-color: #d64541; }

.service-item .btn-web { background-color: #926fb1; }

.service-item .btn-security { background-color: #f62459; }

.service-item .btn-developer-course { background-color: #ce4125; }

.center { align-items: center; text-align: center; }

.container { display: flex; padding: 0.8125rem; flex-direction: column; }

.container h2 { font-size: 2rem; }

.middle { color: white; background: #323544; }

.client-quote { font-weight: 600; font-size: 1.3rem; font-style: italic; }

.client-quote-author { font-weight: 600; color: #a3a8ac; font-size: 1.1rem; }

.client-quote-author a { color: white; }

.btn { display: inline-block; height: auto; line-height: 35px; padding: 5px 15px; text-transform: uppercase; font-size: 1.063rem; border-radius: 3px; white-space: normal; color: white; text-align: center; cursor: pointer; vertical-align: middle; }

.btn-google { background: #4387f6; border-radius: 6px; padding: 10px 30px; font-size: 20px; margin-top: 20px; margin-right: 8px; }

.btn-trustpilot { background: #00b67b; border-radius: 6px; padding: 10px 30px; font-size: 20px; margin-top: 20px; margin-right: 8px; }

.btn-wcu { background-color: #926fb1; border-color: #926fb1; }

.row { display: flex; grid-template-columns: auto auto auto; padding: 1.8125rem 0.8125rem; }

.mobile { margin-left: auto; justify-self: center; }

#search-input { width: 95%; padding: 7px; }

.search-form { height: 47px; padding: 5px 15px; margin-top: 11px; position: relative; border-radius: 2px; font-size: 14px; line-height: 1.42857143; color: #555; }

img { border: 0; vertical-align: middle; }

img[src*="logo"] { max-width: 60%; }

#banner { display: flex; flex-direction: column; align-items: center; position: relative; overflow-x: hidden; }

#banner .banner-img { position: relative; }

#banner .banner-img::after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.25); }

#banner .content { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 1.25rem; z-index: 1; color: white; text-align: center; }

#banner .content .h1 { font-size: 2.5rem; line-height: 3rem; margin: 0 0 1.25rem; font-weight: 600; }

.btn-burger { background-color: #333645; height: 46px; width: 33px; padding: 5px 15px; border-width: 0; margin-left: 20px; border-color: #333645; border-radius: 10%; font-size: 1.438rem; line-height: 45px; }

.icon-hamburger { color: #white; }

.icon-hamburger::before { font-family: "icomoon"; content: "\e9bd"; }

.hidden { display: none; }

[class^=icon-] { font-family: "icomoon"; line-height: 1; font-style: normal; font-variant: normal; font-weight: 400; text-transform: none; }

.icon-facebook::before { content: "\ea90"; }

.icon-linkedin::before { content: "\eaca"; }

.icon-twitter::after { content: "\ea96"; }

.icon-instagram::before { content: "\ea92"; }

.icon-phone::before { content: "\e900"; }

.icon-search::before { content: "\e904"; font-size: 20px; }

.icon-arrow-right::after { content: "\ea3c"; }

@media (min-width: 768px) { .mobile-priority, .icon-phone { display: none; }
  .article-item { flex: 100%; } }

@media (max-width: 991px) { .mobile .icon-phone { font-size: 32px; margin-left: 15px; } }
