#header-banner{
    display:inline-flex;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
}
.logo{
    width:auto;
    height:10vw;
    align-self: center;
    position: absolute;
    left: 10px;
}

.is-sticky {
    top: 0;
}

.is-hidden {
    top: -231px !important;
}


header {
    display: block;
    background: white;
    transition: top 0.6s ease-in-out;
    
    &:not(.header-sub-banner) > div.container {
        background:#333645;
        width: 100vw !important;

    }
    .icon-phone {
        font-size: 2rem;
        margin-right: 10px;
        position: absolute;
        right: 80px;
    }
    form.search-form.mobile-priority{
        display: flex;
    }
    &-banner-item{
        display:flex;
    }
    #form-big{
        width: 125%;
    }
    #search-input{
        background-color: rgba(0, 0, 0, .1);
        outline: 1px solid hsla(0, 0%, 100%, .2);
        border: 2px solid rgba(0, 0, 0, .1);
        transition: none;
        width: 100%;
        padding: 7px;
        padding-right: 40px;
    }
    #search-submit{
        background: none;
        border: none;
        border: none;
        color: #333645;
        position: absolute;
        right: 25px;
        line-height: 47px;
        font-size: 35px;
        outline: none;
    }
    #search-input-top {
        background-color: white;
        outline: 1px solid hsla(0, 0%, 100%, .2);
        border: 2px solid rgba(0, 0, 0, .1);
        color: rgba(0, 0, 0, .1);
        padding-left:10px;
        padding-right: 0;
        margin: 0;
    }
    .mobile {
        display:flex;
        margin-left: auto;
        align-items: center;
    }
    .search-form {
        display: flex;
        height: 55px;
        padding:0 10px 0 0;
        margin: 10px 0;
        position: relative;
        border-radius: 1px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
  
        .search-bar{
            padding: 26px 2px;
        }
        .search-btn-big{
            background-color: #999aa2;
            color:white;
            border: none;
            border-radius: 0% 5% 5% 0%;

            & span::before{
                font-size: 2.5rem;
            }
        }
    }
    ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        list-style: none;
        text-transform: uppercase;
        

        li {
            width: 120px;
            div{
                position: relative;
                display: flex;
                padding: 19px 0 18px;
                text-transform: uppercase;
                font-size: 1.125rem;
                text-decoration: none;
                line-height: 1;
                flex-direction: column;
                align-items: center;

                span{
                    font-size: 1.45rem;
                }
                p {
                    color: #fff !important;
                    margin: 0 auto;
                
                }
            }
        }
    }

    //banner hover

    
    .header-sub-banner{
        display:none;
        color: white;
        position: absolute;
        
        left: 0;
        min-width: 100%;
        z-index: 99;
        flex-wrap: wrap;
        align-items: flex-start;
        list-style: none;
        text-align: left;
        padding-left: 30px;
        padding-top: 50px;
        padding-bottom: 50px;


        ul{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: -15px;
            list-style: none;
            text-align: left;
            padding: 0;

            li{
                width: 33%;
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
    }
    .software{
        background: darken($colour-software,10%);
    }
    .display{
        background: darken($colour-display,10%);
    }
    .digital{
        background: darken($colour-digital,10%);
    }
    .telecoms{
        background: darken($colour-telecoms,10%);
    }
    .web{
        background: darken($colour-web,10%);
    }
    .security{
        background: darken($colour-security,10%);
    }
    .developer-course{
        background: darken($colour-developer-course,10%);
    }

    li:hover {
        
        div span::before{
            color:white !important;
        }

        .header-sub-banner{
            display: flex;
        }
        &:has(div.software){
            background:$colour-software;
        }
        &:has(div.display){
            background:$colour-display;
        }
        &:has(div.digital){
            background:$colour-digital;
        }
        &:has(div.telecoms){
            background:$colour-telecoms;
        }
        &:has(div.web){
            background:$colour-web;
        }
        &:has(div.security){
            background:$colour-security;
        }
        &:has(div.developer-course){
            background:$colour-developer-course;
        }
    }
    .banner-item{
        &:hover::before{
            content: "";
            position: absolute;
            left: 50%;
            bottom: -35px;
            transform: translateX(-50%);
            z-index: 100;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 35px 60px 0;
        }
        &_apps:hover::before{
            border-color: $colour-software transparent transparent;
        }
        &_display:hover::before{
            border-color: $colour-display transparent transparent;
        }
        &_digital:hover::before{
            border-color: $colour-digital transparent transparent;
        }
        &_telecoms:hover::before{
            border-color: $colour-telecoms transparent transparent;
        }
        &_web:hover::before{
            border-color: $colour-web transparent transparent;
        }
        &_security:hover::before{
            border-color: $colour-security transparent transparent;
        }
        &_developer-course:hover::before{
            border-color: $colour-developer-course transparent transparent;
        }
    }
}

footer {
  background-color: #323544;
  color: #fff;
  margin: 10px 0 0;
  position: relative;
  display: block;

  .footer-items{
      width: 100%;
      display: flex;
      justify-content: space-around;
  }
  .footer-socials a {
    height: 50px;
    display: inline-flex;
    align-items: center;
    span{
        font-size: 1.863rem;
    }
  }

  .container-footer-bottom{
    align-items: start;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 0.8125rem;
      line-height: 1.375rem;

      a {
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.footer-bottom {
  margin: 20px 0 0;
  background: #212330;
}