#header-banner{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
header {
    display: block;

    div.container {
        background:#333645;
    }
    .icon-phone {
        font-size: 2rem;;
    }
    form.search-form.mobile-priority{
        display: flex;
    }
    &-banner-item{
        display:flex;
    }
    #search-input {
      width: 95%;
      padding: 7px;
    }

    .search-form {
      display: flex;
      height: 55px;
      padding:0 10px 0 0;
      margin: 10px 0;
      position: relative;
      border-radius: 2px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
  
      .search-bar{
          padding: 7px 2px;
      }
      search-btn-big{
    
      }
    }
    ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        list-style: none;
        text-transform: uppercase;

        li div{
            position: relative;
            display: flex;
            padding: 19px 0 18px;
            text-transform: uppercase;
            font-size: 1.125rem;
            text-decoration: none;
            line-height: 1;
            flex-direction: column;
            align-items: center;

            span{
                font-size: 1.45rem;
            }
            p {
                color: #fff !important;
                margin: 0 auto;
                
            }
        }
    }
}

footer {
  background-color: #323544;
  color: #fff;
  margin: 10px 0 0;
  position: relative;
  display: block;

  .footer-items{
        width: 100%;
      display: flex;
      justify-content: space-around;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 0.8125rem;
      line-height: 1.375rem;

      a {
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.footer-bottom {
  margin: 20px 0 0;
  background: #212330;
}
