.container {
  display: flex;
  padding: 0.8125rem;
  flex-direction: column;

  h2 {
    font-size: 2rem;
  }
}

.row {
  display: flex;
  grid-template-columns: auto auto auto;
  padding: 1.8125rem 0.8125rem;
}

.center {
  align-items: center;
  text-align: center;
}

.middle {
  color: white;
  background: #323544;
  flex-direction: row;
  padding: 50px;

  &-item{
    margin: 0 10px;
    width: 50%;
  }
}

.mobile {
  margin-left: auto;
  justify-self: center;
}
