.container {
  display: flex;
  padding: 0.8125rem;
  //padding-left: 10vw !important;
  //padding-right: 10vw !important;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  

  &-footer{
    @extend .container;
    align-items: flex-start;
  }

  h2 {
    font-size: 2rem;
    
  }

  &:has(ul#header-banner){
    padding:0 3rem 0 3rem;
  }
}

.row {
  display: flex;
  grid-template-columns: auto auto auto;
  padding: 1.0125rem 0.8125rem;

  &-stars{
    padding: 0.7rem 0;
  }

  &-service{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}

.center {
  align-items: center;
  text-align: center;
}

.middle {
  color: white;
  background: #323544;
  flex-direction: row;
  padding: 50px;

  box-shadow: 0 0 0 100vmax #323544;
  clip-path: inset(0 -100vmax); 
  

  &-item{
    margin: 0 10px;
    width: 50%;
    z-index: 2;
  }
  p{
    line-height: 30px;
  }
}
.no-scroll {
  overflow: hidden;
}

.ham-bar{
  width: 55%;
  height: 4px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform .6s, opacity .8s, top .6s;
}
.bar-top{
  top:30%;
}
.bar-bottom{
  top:70%;
}

.active .bar-top{
  transform: translate(-50%, -50%) rotate(-315deg);
  top:50%;
}
.active .bar-mid{
  opacity: 0;
}
.active .bar-bottom{
  transform: translate(-50%, -50%) rotate(-225deg);
  top:50%;
}
.h1-long{
  max-width: 80%;
}