//each of these is essentially checking if the page is NOT one of them. 
//I've used 'mobile', 'tablet' and 'desktop' as names for the sake of avoiding confusion.

@include respond-to(mobile) {
  .mobile-priority,
  .icon-phone{
    display: none !important;
  }
  .not-mobile{
    display:flex !important;
  }
  .article-item {
    flex: 100%;
  }
}

@include respond-to(tablet) {
  .mobile .icon-phone {
    //font-size: 32px;
    margin-left: 15px;
  }
  .article-item{
    max-width: 80%;
  }
}

@include respond-to(desktop) {
  .container {
    //width: 970px;

  }
  header>.container,
  .desktop-priority{
    display:none !important;
  }
  #banner .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    z-index: 1;
    color: white;
    text-align: center;

    .h1 {
      font-size: 2.5rem;
      line-height: 3rem;
      margin: 0 0 1.25rem;
      font-weight: 600;
      text-align: center;
    }
  }
  .services {
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
  }
  .footer-items{
      display: block !important;
  }
  .middle {
      color: white;
      background: #323544;
      flex-direction: column;
      padding: 10px;

      &-item{
        margin: 20px 0;
        width: 90%;
      }
}
}

//specifically for the third article item to be hidden
@media (min-width: 992px) and (max-width: 1450px) {
    .article-third{
        display:none;
    }
    .article-list{
        justify-content: center;
    }
}