@import 'mixins';

.btn {
  @include button-styles(orange);
  
  &-google {
    @include button-styles($colour-google);
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 8px;
  }

  &-trustpilot {
    @include button-styles($colour-trustpilot);
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 8px;
  }

  &-wcu {
    @include button-styles($colour-why-choose-us);
    border-color: #926fb1;
  }

  &-software {
    @include button-styles($colour-software);
  }

  &-it {
    @include button-styles($colour-display);
  }

  &-digital {
    @include button-styles($colour-digital);
  }

  &-telecoms {
    @include button-styles($colour-telecoms);
  }

  &-web {
    @include button-styles($colour-web);
  }

  &-security {
    @include button-styles($colour-security);
  }

  &-developer-course {
    @include button-styles($colour-developer-course);
  }
}

.btn-burger {
  @include button-styles(#333645);
  height: 46px;
  width: 33px;
  padding: 5px 15px;
  border-width: 0;
  margin-left: 20px;
  border-color: #333645;
  border-radius: 10%;
  font-size: 1.438rem;
  line-height: 45px;
}
