.darken:hover{
    transition: filter 0.15s ease;
    filter: brightness(80%);
}

.hover{
    &-facebook:hover{
        background-color: #3b5998;
    }
    &-instagram:hover{
        background-color: #d93175;
    }
    &-linkedin:hover{
        background-color: #0077b5;
    }
    &-twitter:hover{
        background-color: #00aced;
    }
}

.underline:hover{
    text-decoration: underline;
}

.btn {
  @include button-styles(#212330);

  &-google {
    @include button-styles($colour-google);
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 8px;
  }

  &-trustpilot {
    @include button-styles($colour-trustpilot);
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 8px;
  }

  &-mid-wcu {
    @include button-styles($colour-mid-buttons);
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 8px;
  }

  &-mid-culture {
    @include button-styles($colour-mid-buttons);
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 8px;
  }

  &-contact {
    @include button-styles(#999aa2);
    border: none;
    padding: 15px 25px;
    padding-left: 15px;
    font-size: 20px;
    margin: 10px 0;
    margin-right: 8px;
  }

  &-support {
    @include button-styles(#2a6ec6);
    border: none;
    padding: 15px 25px;
    padding-left: 15px;
    font-size: 20px;
    margin: 10px 0;
    margin-right: 8px;
  }

  &-wcu {
    @include button-styles($colour-why-choose-us);
    border-color: #926fb1;
    padding: 20px 10px;
  }

  &-software {
    @include button-styles($colour-software);
  }

  &-it {
    @include button-styles($colour-display);
  }

  &-digital {
    @include button-styles($colour-digital);
  }

  &-telecoms {
    @include button-styles($colour-telecoms);
  }

  &-web {
    @include button-styles($colour-web);
  }

  &-security {
    @include button-styles($colour-security);
  }

  &-developer-course {
    @include button-styles($colour-developer-course);
  }

  &-cookies{
    position: fixed;
    line-height: 22px;
    z-index: 99;
    bottom: 0;
    left: 0;
    display: flex;
    background: #75788a;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    border: solid #75788a;
    border-width: 1px 1px 0 0;
    border-radius: 0;
    border-top-right-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    font-size: .8rem;
  }
  &-chat{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    cursor: pointer;
    font-size: 29px;
    padding: 13px;
    border: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    box-shadow:0 3px 35px rgba(0, 0, 0, .1);
  }
}

.btn-burger {
  @include button-styles(#333645);
  padding: 0 10px;
  height: 56px;
  border: none;
  border-radius: 10%;
  font-size: 1.438rem;
  margin: 10px 0;
  margin-right: 8px;
}
.article-btn{
    color: white;
    height: auto;
    line-height: 35px;
    padding: 10px 15px;
    border-radius: 2%;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}