.icon-hamburger {
  color: white;
  @include icon("\e9bd");
}

.icon-facebook::before {
  content: "\ea90";
}

.icon-linkedin::before {
  content: "\eaca";
}

.icon-twitter::after {
  content: "\ea96";
}

.icon-instagram::before {
  content: "\ea92";
}

.icon-phone::before {
  content: "\e900";
}

.icon-search::before {
  content: "\e904";
  font-size: 20px;
}

.icon-arrow-right::after {
  content: "\ea3c";
}

[class^="icon-apps"] {
    &::before {
        content: "\e957";
        color: white;
    }

    &.icon-apps_colour::before {
        color: $colour-software;
    }
}

[class^="icon-display"] {
    &::before {
        content: "\e956";
        color: white;
    }

    &.icon-display_colour::before {
        color: $colour-display;
    }
}

[class^="icon-bar-graph"] {
    &::before {
        content: "\e901";
        color: white;
    }

    &.icon-bar-graph_colour::before {
        color: $colour-digital;
    }
}

[class^="icon-phone-service"] {
    &::before {
        content: "\e900";
        color: white;
    }

    &.icon-phone-service_colour::before {
        color: $colour-telecoms;
    }
}

[class^="icon-code"] {
    &::before {
        content: "\ea80";
        color: white;
    }

    &.icon-code_colour::before {
        color: $colour-web;
    }
}

[class^="icon-security"] {
    &::before {
        content: "\e903";
        color: white;
    }

    &.icon-security_colour::before {
        color: $colour-security;
    }
}

[class^="icon-school-cap"] {
    &::before {
        content: "\e902";
        color: white;
    }

    &.icon-school-cap_colour::before {
        color: $colour-developer-course;
    }
}

.icon-contact::before {
    content: "\e907";
    color: white;
    padding-right: 7px;
}

.icon-support::before {
    content: "\e906";
    color: white;
    padding-right: 7px;
}
.icon-star::before{
    font-size: 50px;
    content: "\e9d9";
    color: orange;
}