.icon-hamburger::before {
    color: white;
    content: "\e9bd";
    font-size: 44px;
}
.icon-chat::after{
    content: "\e905";
}
.icon-facebook::before {
  content: "\ea90";
}

.icon-linkedin::before {
  content: "\eaca";
}

.icon-twitter::after {
  content: "\ea96";
}

.icon-instagram::before {
  content: "\ea92";
}

.icon-phone::before {
  content: "\e900";
}

.icon-search::before {
  content: "\e904";
  font-size: 20px;
}

.icon-drop::before{
    font-family: "icomoon";
    padding-right: 10px;
}
$icons: (
    "cog": "\e90c",
    "mob": "\e958",
    "download": "\e9c7",
    "cloud": "\e9c1",
    "briefcase": "\e90d",
    "folder": "\e930",
    "group": "\e90f",
    "clouddown": "\e90b",
    "shuffle": "\e908",
    "arrows": "\e909",
    "laptop": "\e90e",
    "globe": "\e90a",
    "cap": "\e902",
    "drive": "\e910",
    "hphone": "\e911",
    "search": "\e904",
    "email": "\e913",
    "dollar": "\e912",
    "rising": "\e915",
    "pencil": "\e914",
    "ticket": "\e939",
    "speedometer": "\e918",
    "phonenoring": "\e942",
    "shake": "\e916",
    "phoneback": "\e917",
    "phonecall": "\e900",
    "display": "\e956",
    "cart": "\e919",
    "megaphone": "\e91a",
    "shield": "\e903",
    "paper": "\e91b",
    "clock": "\e91d",
    "flask": "\e91e",
    "padlock": "\e91c",
    "code": "\ea80",
    "question": "\e91f"
);

.icon-drop {
    @each $name, $content in $icons {
        &-#{$name}::before {
            content: $content;
        }
    }
}


.icon-arrow-right::after {
  content: "\ea3c";
}

[class^="icon-apps"] {
    &::before {
        content: "\e957";
        color: white;
    }

    &.icon-apps_colour::before {
        color: $colour-software;
    }
}

[class^="icon-display"] {
    &::before {
        content: "\e956";
        color: white;
    }

    &.icon-display_colour::before {
        color: $colour-display;
    }
}

[class^="icon-bar-graph"] {
    &::before {
        content: "\e901";
        color: white;
    }

    &.icon-bar-graph_colour::before {
        color: $colour-digital;
    }
}

[class^="icon-phone-service"] {
    &::before {
        content: "\e900";
        color: white;
    }

    &.icon-phone-service_colour::before {
        color: $colour-telecoms;
    }
}

[class^="icon-code"] {
    &::before {
        content: "\ea80";
        color: white;
    }

    &.icon-code_colour::before {
        color: $colour-web;
    }
}

[class^="icon-security"] {
    &::before {
        content: "\e903";
        color: white;
    }

    &.icon-security_colour::before {
        color: $colour-security;
    }
}

[class^="icon-school-cap"] {
    &::before {
        content: "\e902";
        color: white;
    }

    &.icon-school-cap_colour::before {
        color: $colour-developer-course;
    }
}

.icon-contact::before {
    content: "\e907";
    color: white;
    padding-right: 7px;
}

.icon-support::before {
    content: "\e906";
    color: white;
    padding-right: 7px;
}
.icon-star::before{
    font-size: 50px;
    content: "\e9d9";
    color: orange;
}