
#menu{
    float: right;
    background: #333645;
    width:350px;
}

.slideout-menu{
    left:auto;
}

.panel:before {
    content: '';
    display: block;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.5s ease-in-out;
  }
  
  .panel-open:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
  }