#menu{
    text-transform: uppercase;
    
    background: #333645;
    width:350px;

    color: #fff;
    text-decoration: none;
    .sidebar-large{
      width: 350px;
      padding: 0;
      text-align:left ;

      li{
        padding: 15px 20px;
      }
      p{
        padding-left: 16px;
      }
    }
    .sidebar-small{
      width: 275px;
      padding: 0 20px;
      text-align: center;
    }
    .button-list{
      display: flex;
      flex-direction: column;
    }

    ul{
      padding: 0;
      list-style-type: none;

      li{
        padding: 5px 2px;
        background-color: rgba(0, 0, 0, 0.25);

        outline: 1px solid rgba(0, 0, 0, 0.25);
        border: 1px solid hsla(0, 0%, 100%, 0.1);
      }
    }

    button span{
      font-size: 2rem;
    }
    .sidebar-small{
      display: none;
    }
}