*, *::after, *::before {
  box-sizing: border-box;
}

a {
  color: #333645;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  margin: 0 auto;
  height: 100%;
}
small{
    font-size: 0.75rem;
}

h1, h2, h3, p {
    font-family: 'Poppins', sans-serif;
}
.h2-fblack{
    color: rgb(51, 54, 69);
}

.hidden {
  display: none;
}

img {
    border: 0;
    vertical-align: middle;

    
}

[class^=icon-] {
  font-family: "icomoon";
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-transform: none;
}

#main-content{

  
  background-color: white;
}