$colour-software			:#67809f;
$colour-display				:#4183d7;
$colour-digital				:#2ecc71;
$colour-telecoms			:#d64541;
$colour-web					:#926fb1;
$colour-security			:#f62459;
$colour-developer-course	:#ce4125;

$colour-why-choose-us		:#926fb1;
$colour-google				:#4387f6;
$colour-trustpilot			:#00b67b;
$colour-mid-buttons			:#272936;

$colour-careers				:#4183d7;
$colour-news				:#d64541;
$colour-notable				:#db8c0d;